.about {
  font-size: 40px;
  font-weight: bolder;
  color: #3a3532;
  margin-bottom: 30px;
}

.aboutctn {
  height: 720px;
  display: flex !important;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}

.subhead {
  color: #3a3532;
  font-size: 20px;
  font-weight: bolder;
  margin-top: 30px;
}

.body {
  color: #3a3532;
  font-size: 15px;
  margin-top: 20px;
  font-weight: bolder;
}

@media only screen and (max-width: 767px) {
  .aboutmainctn {
    margin: 60px 0;
  }
}

@media only screen and (min-height: 1000px) {
  .aboutctn {
    height: 100vh;
  }
}
