.head {
  font-size: 30px;
  color: #3a3532;
  margin-bottom: 50px;
  font-weight: bolder;
}

.main {
  padding-top: 160px;
}

.ctn {
  margin-bottom: 60px;
}

.subhead {
  font-size: 15px;
  font-weight: bold;
  margin-top: 30px;
}

.subhead2 {
  font-size: 12px;
  font-weight: bold;
}

.contactInfo {
  margin-top: 60px;
}

@media only screen and (min-height: 1000px) {
  .ctn {
    height: 100vh;
  }
}
@media only screen and (max-width: 767px) {
  .main {
    padding-top: 100px;
  }
}
