.head {
  font-size: 40px;
  color: #3a3532;
  margin-bottom: 50px;
}

.main {
  padding-top: 200px;
  margin-bottom: 400px;
}

.ctn {
  height: 100vh;
}

.bg {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC")
    repeat 0 0;
}

.loginblob {
  height: 600px;
  width: 600px;
  background-color: rgb(199, 199, 199);
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  z-index: 1;
  opacity: 0.5;
}
