.main {
  margin: 100px 0;
}

.subhead {
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.imginfo {
  position: absolute;
  bottom: 5px;
  font-size: 10px;
  font-weight: bolder;
  text-align: center;
  width: 100%;
}

.imgwrapper {
  position: relative;
  width: 25%;
  padding: 2px;
  overflow: hidden;
  cursor: pointer;
}

.imgwrapper img {
  display: block;
}

.imgctn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.showroomctn {
  margin: 0 8%;
}

@media only screen and (max-width: 1000px) {
  .imgwrapper {
    width: 50%;
  }
}

.ribbon {
  display: none;
  position: absolute;
  transform: rotate(45deg) translate(32%, -180%);
  transform-origin: center;
  right: 0;
  top: 0;
  line-height: 180%;
  width: 80%;

  text-align: center;
  font-size: 12px;
  font-weight: bolder;
  color: rgb(245, 245, 245);
  background-color: black;
}

@media only screen and (max-width: 600px) {
  .ribbon {
    transform: rotate(45deg) translate(32%, -100%);
  }
}

.plus {
  position: absolute;
  top: 2%;
  left: 2%;
}

.productsBarWrapper {
  margin-top: 150px;
  height: 50px;
  width: 100%;
  box-shadow: 0 -10px 10px -10px rgb(228, 228, 228) inset;
}

.productsBarWrapper ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 40px;
}

.productsBarWrapper ul li {
  font-size: 12px;
  line-height: 50px;
  font-weight: bold;
  cursor: pointer;
}

.dropdown {
  position: relative;
}

.dropdown::after {
  display: inline-block;
  content: "";
  background-image: url("../../pics/caret.svg");
  background-size: cover;
  position: absolute;
  top: 50%;
  transform: translate(30%, -50%);
  width: 10px;
  height: 10px;
}

.dropdown:hover::after {
  transform: translate(30%, -50%) rotate(180deg);
}

.dropdownContent {
  position: absolute;
  display: none;
  transform: translateX(-25%);
  width: 150px;
  z-index: 1;
  background-color: white;
  box-shadow: 0 0 10px rgb(224, 224, 224);
}

.dropdown:hover .dropdownContent {
  display: block;
}

.dropdownContent div {
  padding: 0 20px;
}

.dropdownContent div:hover {
  background-color: rgb(221, 221, 221);
}
