*,
*:after,
*:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

* {
  font-family: "Raleway", sans-serif;
}

.discover {
  margin-top: 50px;
}

.img-ctn {
  position: relative;
  display: inline-block;
  max-width: 50%;
}

.img {
  max-width: 95%;
  margin: 5px;
  float: left;
  cursor: pointer;
}

.img-tag {
  position: absolute;
  left: 50%;
  bottom: 6%;
  z-index: 10;
  font-size: 12px;
  transform: translate(-50%, 0);
  font-weight: 600;
  padding-bottom: 5px;
  border-bottom: 3px solid rgb(241, 156, 186);
}

.img-tag:hover {
  border-bottom: 3px solid rgb(224, 145, 172);
  cursor: pointer;
}

.middle {
  margin-top: 50px;
  position: relative;
}

.bg {
  object-fit: cover;
  width: 100%;
  height: 600px;
}

.middle-text {
  color: white;
  position: absolute;
  left: 50%;
  bottom: -15%;
  background-color: white;
  transform: translate(-50%, 0);
  padding: 40px;
}

.text {
  text-align: center;
  font-weight: lighter;
  color: black;
}

.text-big {
  font-size: 30px;
  margin-bottom: 10px;
}

.text-mid {
  margin-top: 20px;
  font-size: 15px;
}

#btn {
  padding: 5px;
  background: linear-gradient(0deg, rgb(84, 209, 188), rgb(84, 209, 188)) bottom
    left no-repeat;
  background-size: 0px 3px;
  transition: 0.4s;
  text-decoration: none;
  color: black;
  font-size: 15px;
  display: block;
}

#btn:hover {
  background-size: 100% 3px;
}

.head1 {
  font-size: 30px;
}

.head-label {
  font-size: 18px;
}
