.nav {
  width: 100%;
  border-top: solid 4px #24395b;
  position: fixed;
  top: 0;
  background-color: transparent;
  transition: 0.5s;
  z-index: 900;
}

.nav-colored {
  background-color: white;
}

.ctn {
  padding: 0 30px;
  text-decoration: none;
}

.itemNav {
  background: linear-gradient(0deg, #24395b, #24395b) bottom left no-repeat;
  background-size: 0px 3px;
  transition: background-size 0.4s;
  text-decoration: none;
  padding: 3px 0;
}

.active {
  background: linear-gradient(0deg, #24395b, #24395b) bottom left no-repeat;
  background-size: 100% 3px;
  text-decoration: none;
  padding: 3px 0;
}

.itemNav:hover {
  background-size: 100% 3px;
  cursor: pointer;
}

.logo {
  font-weight: lighter;
  font-size: 30px;
  cursor: pointer;
}

a,
a:hover {
  color: black;
}

.nav-ctn {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.nav-burger {
  display: none;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }

  .nav-burger {
    display: inline-block;
  }
}

#burger-1,
#burger-2,
#burger-3 {
  width: 26px;
  height: 4px;
  margin: 5px 0;
  background-color: black;
  transition: 0.4s;
}

#burger-1 {
  transform-origin: left;
}
#burger-3 {
  transform-origin: left;
}
.b-active #burger-1 {
  transform: rotate(45deg);
}
.b-active #burger-3 {
  transform: rotate(-45deg);
}
.b-active #burger-2 {
  opacity: 0;
}

#burger-dropdown {
  width: 0;
  height: 0;

  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  z-index: -1;
  transition: 0.6s ease-out;
}

.b-active #burger-dropdown {
  width: 80vh;
  height: 80vh;
  border-radius: 0 0 0 80vh;
}

#burger-menu {
  position: absolute;
  top: 40%;
  right: 0;
  opacity: 0;

  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
}

.menu-active #burger-menu {
  opacity: 1;
  transition: 0.5s;
}

#burger-menu .ctn {
  padding: 30px;
}

#burger-menu .itemNav {
  font-size: 25px;
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
  .b-active #burger-dropdown {
    width: 80vw;
    height: 80vw;
    border-radius: 0 0 0 80vw;
  }

  #burger-menu {
    top: 30%;
  }
}
